# 编译与打包产物
fnos-server/fnos-server.exe
fnos-server/*.fpk
fnos-server/web/

# 打包目录中的编译产物（Linux 二进制）
fnos-server/cryptbox/app/cryptbox-server
fnos-server/cryptbox/app/cryptbox-server-arm64
fnos-server/cryptbox-en/app/cryptbox-server
fnos-server/cryptbox-en/app/cryptbox-server-arm64

# 前端依赖
shared/web/node_modules/

# macOS 垃圾文件
.DS_Store

